body {
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
    background-image: url(/images/background.png);
    background-repeat: repeat-y;
    background-size: 100%;
    background-color: #FFEDD5;
    color: #011126;
}

.background-image {
    background-image: url(/images/unknown-heroes.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: contain;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -2;
}

input[type=submit] {
    font-size: inherit;
}

hr {
    margin: 0.2em 0;
}

.link {
    display: block;
    height: 8em;
    text-align: center;
    line-height: 8em;
    color: black;
    text-shadow: 0 0 3px whitesmoke, 0 0 1px white;
    background-size: cover;
}

a.link:hover {
    color: #ffd4a4;
    text-shadow: 0 0 3px black;
}

.link::first-line {
    vertical-align: middle; /* for anchor */
}

.links .link {
    height: 1.1em;
    line-height: 1em;
    margin: auto;
}

.col-sm-3 {
    padding: 4px;
}

.name {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.lock {
    width: 32px;
    height: 32px;
    vertical-align: bottom;
}

.percents {
    font-style: italic;
    color: orangered;
    opacity: .8;
}

.handbook {
    background-size: cover;
}

.journals {
    background-image: url(/images/osobni-denik-monochrome.png);
}

.journals:hover {
    background-image: url(/images/osobni-denik-color.png);
}

.asterion-page {
    background-image: url(/images/asterion-page-monochrome.png);
}

.asterion-page:hover {
    background-image: url(/images/asterion-page-color.png);
}

.asterion {
    background-image: url(/images/asterion-monochrome.png);
}

.asterion:hover {
    background-image: url(/images/asterion-color.png);
}

.asterion-forum {
    background-image: url(/images/asterion-forum-monochrome.jpg);
}

.asterion-forum:hover {
    background-image: url(/images/asterion-forum-color.jpg);
}

.asterion-applications {
    background-image: url(/images/asterion-stiny-jihu-monochrome.png);
}

.asterion-applications:hover {
    background-image: url(/images/asterion-stiny-jihu-color.png);
}

.forum {
    font-style: italic;
}

.character-sheet {
    font-style: italic;
}

.bestiar {
    background-image: url(/images/bestiar-monochrome-small.png);
}

.bestiar:hover {
    background-image: url(/images/bestiar-color-small.png);
}

.bestiar-hover {
    background-image: url(/images/bestiar-color-small.png);
}

.pph {
    background-image: url(/images/pph-monochrome-small.png);
}

.pph:hover {
    background-image: url(/images/pph-color-small.png);
}

.bojovnik {
    background-image: url(/images/bojovnik-monochrome-small.png);
}

.bojovnik:hover {
    background-image: url(/images/bojovnik-color-small.png);
}

.theurg {
    background-image: url(/images/theurg-monochrome-small.png);
}

.theurg:hover {
    background-image: url(/images/theurg-color-small.png);
}

.hranicar {
    background-image: url(/images/hranicar-monochrome-small.png);
}

.hranicar:hover {
    background-image: url(/images/hranicar-color-small.png);
}

.pribeh {
    background-image: url(/images/pribeh-monochrome.png);
}

.pribeh:hover {
    background-image: url(/images/pribeh-color.png);
}

.blog {
    background-image: url(/images/blog-monochrome.png);
}

.blog:hover {
    background-image: url(/images/blog-color.png);
}

.carodej {
    background-image: url(/images/carodej-monochrome-small.png);
}

.carodej:hover {
    background-image: url(/images/carodej-color-small.png);
}

.zlodej {
    background-image: url(/images/zlodej-monochrome-small.png);
}

.zlodej:hover {
    background-image: url(/images/zlodej-color-small.png);
}

.knez {
    background-image: url(/images/knez-monochrome-small.png);
}

.knez:hover {
    background-image: url(/images/knez-color-small.png);
}

.ppj {
    background-image: url(/images/ppj-monochrome-small.png);
}

.ppj:hover {
    background-image: url(/images/ppj-color-small.png);
}

.altar {
    background-image: url(/images/altar-monochrome.png);
    color: black;
}

.altar:hover {
    background-image: url(/images/altar-color.png);
}

a.altar:hover {
    color: white;
}

.draci-hlidka {
    background-image: url(/images/draci-hlidka-monochrome.png);
    color: black;
}

.draci-hlidka:hover {
    background-image: url(/images/draci-hlidka-color.png);
}

a.draci-hlidka:hover {
    color: white;
}

.theurg-calculator {
    background-image: url(/images/theurg-calculator-monochrome-small.png);
}

.theurg-calculator:hover {
    background-image: url(/images/theurg-calculator-color-small.png);
}

.fight-calculator {
    background-image: url(/images/fight-calculator-monochrome.png);
}

.fight-calculator:hover {
    background-image: url(/images/fight-calculator-color.png);
}

.rejstrik-pph {
    background-image: url(/images/rejstrik-ppj-monochrome.png);
}

.rejstrik-pph:hover {
    background-image: url(/images/rejstrik-ppj-color.png);
}

.tabulky-pph {
    background-image: url(/images/tabulky-pph-monochrome.png);
}

.tabulky-pph:hover {
    background-image: url(/images/tabulky-pph-color.png);
}

.severni-taria {
    background-image: url(/images/severni-taria-monochrome.png);
}

.severni-taria:hover {
    background-image: url(/images/severni-taria-color.png);
}

.taria-zahvozdi {
    background-image: url(/images/taria-zahvozdi-monochrome.png);
}

.taria-zahvozdi:hover {
    background-image: url(/images/taria-zahvozdi-color.png);
}

.taria {
    background-image: url(/images/taria-monochrome.png);
}

.taria:hover {
    background-image: url(/images/taria-color.png);
}

.rpgforum {
    background-image: url(/images/rpgforum-monochrome.png);
}

.rpgforum:hover {
    background-image: url(/images/rpgforum-color.png);
}

.fall-calculator {
    background-image: url(/images/falling-monochrome.png);
}

.fall-calculator:hover {
    background-image: url(/images/falling-color.png);
}
