body {
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
    background-image: url(/images/background.png);
    background-repeat: repeat-y;
    background-size: 100%;
    background-color: #FFEDD5;
    color: #011126;
}

input[type=submit] {
    font-size: inherit;
}

.vertical-centered-wrapper {
    position: absolute;
    width: 98%;
    height: 98%;
    display: table;
}

.vertical-centered {
    display: table-cell;
    vertical-align: middle;
}

.horizontal-centered-wrapper {
    text-align: center;
}

.horizontal-centered {
    display: inline-block;
    text-align: left;
}

.content {
    padding: 1em;
}

.link {
    display: block;
    width: 15em;
    max-width: 78vw;
    height: 8em;
    text-align: center;
    float: left;
    line-height: 8em; /* to center text */
    color: black;
    margin: 0.5em;
    text-shadow: 0 0 3px whitesmoke, 0 0 1px white;
    background-size: cover;
}

a.link:hover {
    color: #ffd4a4;
    text-shadow: 0 0 3px black;
}

.link::first-line {
    vertical-align: middle; /* for anchor */
}

.link.half {
    height: 4em;
    line-height: 4em; /* to center text */
}

.block {
    clear: left;
}

.panel {
    float: left;
}

.panel div:first-child .link {
    margin-bottom: 0;
}

.panel div:last-child .link {
    margin-top: 0;
}

.handbook {
    background-size: cover;
}

.bestiar {
    background-image: url(/images/bestiar-monochrome-small.png);
}

.bestiar:hover {
    background-image: url(/images/bestiar-color-small.png);
}

.bestiar-hover {
    background: url(/images/bestiar-color-small.png) no-repeat -9999px 9999px;
}

.pph {
    background-image: url(/images/pph-monochrome-small.png);
}

.pph:hover {
    background-image: url(/images/pph-color-small.png);
}

.pph-hover {
    position: absolute;
    top: -9999px;
    left: -9999px;
    background: url(/images/pph-color-small.png) no-repeat;
}

.bojovnik {
    background-image: url(/images/bojovnik-monochrome-small.png);
}

.bojovnik:hover {
    background-image: url(/images/bojovnik-color-small.png);
}

.bojovnik-hover {
    position: absolute;
    top: -9999px;
    left: -9999px;
    background: url(/images/bojovnik-color-small.png) no-repeat;
}

.theurg {
    background-image: url(/images/theurg-monochrome-small.png);
}

.theurg:hover {
    background-image: url(/images/theurg-color-small.png);
}

.theurg-hover {
    position: absolute;
    top: -9999px;
    left: -9999px;
    background: url(/images/theurg-color-small.png) no-repeat;
}

.hranicar {
    background-image: url(/images/hranicar-monochrome-small.png);
}

.hranicar:hover {
    background-image: url(/images/hranicar-color-small.png);
}

.hranicar-hover {
    position: absolute;
    top: -9999px;
    left: -9999px;
    background: url(/images/hranicar-color-small.png);
}

.carodej {
    background-image: url(/images/carodej-monochrome-small.png);
}

.carodej:hover {
    background-image: url(/images/carodej-color-small.png);
}

.carodej-hover {
    position: absolute;
    top: -9999px;
    left: -9999px;
    background: url(/images/carodej-color-small.png) no-repeat;
}

.zlodej {
    background-image: url(/images/zlodej-monochrome-small.png);
}

.zlodej:hover {
    background-image: url(/images/zlodej-color-small.png);
}

.zlodej-hover {
    position: absolute;
    top: -9999px;
    left: -9999px;
    background: url(/images/zlodej-color-small.png) no-repeat;
}

.knez {
    background-image: url(/images/knez-monochrome-small.png);
}

.knez:hover {
    background-image: url(/images/knez-color-small.png);
}

.knez-hover {
    position: absolute;
    top: -9999px;
    left: -9999px;
    background: url(/images/knez-color-small.png) no-repeat;
}

.ppj {
    background-image: url(/images/ppj-monochrome-small.png);
}

.ppj:hover {
    background-image: url(/images/ppj-color-small.png);
}

.ppj-hover {
    position: absolute;
    top: -9999px;
    left: -9999px;
    background: url(/images/ppj-color-small.png) no-repeat;
}

.altar {
    background-size: contain;
    background-image: url(/images/altar-monochrome.png);
    color: black;
}

.altar:hover {
    background-image: url(/images/altar-color.png);
}

.altar-hover {
    position: absolute;
    top: -9999px;
    left: -9999px;
    background: url(/images/altar-color.png) no-repeat;
}

a.altar:hover {
    color: white;
}

.theurg-calculator {
    background: url(/images/theurg-calculator-monochrome-small.png) no-repeat;
}

.theurg-calculator:hover {
    background: url(/images/theurg-calculator-color-small.png) no-repeat;
}

.rejstrik-pph {
    background: url(/images/rejstrik-ppj-monochrome.png) no-repeat;
}

.rejstrik-pph:hover {
    background: url(/images/rejstrik-ppj-color.png) no-repeat;
}

.tabulky-pph {
    background: url(/images/tabulky-pph-monochrome.png) no-repeat;
}

.tabulky-pph:hover {
    background: url(/images/tabulky-pph-color.png) no-repeat;
}

.severni-taria {
    background: url(/images/severni-taria-monochrome.png) no-repeat;
}

.severni-taria:hover {
    background: url(/images/severni-taria-color.png) no-repeat;
}

.taria-zahvozdi {
    background: url(/images/taria-zahvozdi-monochrome.png) no-repeat;
}

.taria-zahvozdi:hover {
    background: url(/images/taria-zahvozdi-color.png) no-repeat;
}

.taria {
    background: url(/images/taria-monochrome.png) no-repeat;
}

.taria:hover {
    background: url(/images/taria-color.png) no-repeat;
}
