.guidepost a {
    border-radius: 3px;
    text-decoration: none;
    border-bottom: none;
    display: block;
    height: 8em;
    text-align: center;
    line-height: 8em;
    color: black;
    text-shadow: 0 0 3px whitesmoke, 0 0 1px white;
    background-size: cover;
    background-repeat: no-repeat;
}

.guidepost a:hover {
    color: #ffd4a4;
    text-shadow: 0 0 3px black;
    text-decoration: none;
    box-shadow: 0 8px 6px -6px black;
    background-color: rgba(255, 139, 9, 0.18);
}

.guidepost a.navrh {
    display: inherit;
    height: inherit;
    line-height: inherit;
}

.guidepost a.navrh:hover {
    background-color: rgba(32, 30, 28, 0.47);
    border-radius: 3px;
}

.guidepost .links a:hover {
    color: #ffd4a4;
    text-shadow: 0 0 3px black;
}

.guidepost a.external-url {
    text-decoration: none;
    border: none;
}

.guidepost a.external-url:hover {
    color: #ffd4a4;
    text-shadow: 0 0 3px black;
    text-decoration: none;
}

.guidepost a::first-line {
    vertical-align: middle; /* for anchor */
}

.guidepost .name {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    padding: 0 0.5em;
    font-size: 22px;
    position: relative;
    z-index: 1;
}

.guidepost .name .note {
    font-size: 14px;
}

.guidepost .description {
    font-style: italic;
    font-weight: bold;
    color: #004a00;
}

.guidepost a:hover .description {
    font-weight: normal;
    color: whitesmoke;
}

.guidepost .description .title {
    font-size: 80%;
    font-weight: 400;
}

.guidepost .lock {
    width: 32px;
    height: 32px;
    vertical-align: bottom;
}

.guidepost .percents {
    font-style: italic;
    color: orangered;
    opacity: .8;
}

.guidepost .forum {
    font-style: italic;
}

.guidepost .character-sheet {
    font-style: italic;
}
