body {
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
}

.background-image {
    background-size: contain;
}

input[type=submit] {
    font-size: inherit;
}

hr {
    margin: 0.2em 0;
    border-top: 2px solid rgba(171, 171, 171, 0.55);
}

.col-md, .col-sm {
    padding: 4px;
}