.journals {
    background-image: url(/images/links/osobni-denik-color.png?version=153b8b57402a0795958ccad888a6bef2);
}

.asterion-page {
    background-image: url(/images/links/asterion-page-color.png?version=29ca0077347ab68b0176acea52093edc);
}

.asterion {
    background-image: url(/images/links/asterion-color.png?version=588c1b8e23bf26cb45198051e018b70c);
}

.asterion-forum {
    background-image: url(/images/links/asterion-forum-color.png?version=44944499a37049345568dcaa76a55bce);
}

.asterion-applications {
    background-image: url(/images/links/asterion-stiny-jihu-color.png?version=08784f9c0372aba533959981a6e983e4);
}

.bestiar {
    background-image: url(/images/links/bestiar-color-small.png?version=6dd934db9af0fec1ae72b5f6474140ff);
}

.pribeh-bestiar {
    background-image: url(/images/links/pribeh-bestiare-color.png?version=12d84c03d47a26778720062daad655cd);
}

.pph {
    background-image: url(/images/links/pph-color-small.png?version=0023522c6d5841901bbc7fb194131da6);
}

.bojovnik {
    background-image: url(/images/links/bojovnik-color-small.png?version=1d81bd57cf917138a5d920026528250c);
}

.theurg {
    background-image: url(/images/links/theurg-color-small.png?version=3c9a752c18a5e252eafd294c29613f2f);
}

.hranicar {
    background-image: url(/images/links/hranicar-color-small.png?version=09e4f82a5749d2a6567e3a2399c4f025);
}

.pribeh {
    background-image: url(/images/links/pribeh-color.png?version=e6bc6c957032f129ddc9116c8caf5eb5);
}

.blog {
    background-image: url(/images/links/blog-color.png?version=6fd02d18a71763194dffce0af3559e72);
    background-position: initial;
}

.carodej {
    background-image: url(/images/links/carodej-color-small.png?version=df1090621f0f994926f8023f15593aea);
}

.zlodej {
    background-image: url(/images/links/zlodej-color-small.png?version=ceea5b5fb976aa0a619b270ef22f40f4);
}

.knez {
    background-image: url(/images/links/knez-color-small.png?version=6f473b4ad45ab03895b3403365f4845c);
}

.ppj {
    background-image: url(/images/links/ppj-color-small.png?version=bf28c1b78441948958d66ddcc9de9c37);
}

.altar {
    background-image: url(/images/links/altar-color.png?version=ec73cf493ed1282156c1ed8751d72c71);
    color: black;
    background-size: contain;
}

.mytago {
    background-image: url(/images/links/mytago-color.png?version=fad8133194364bf5acfc063362e62b34);
    color: black;
}

.fantasyobchod {
    background-image: url(/images/links/fantasy-obchod-color.png?version=67684345c274d7d132e94d82d851846e);
    color: black;
}

.hrdinove-fantasy {
    background-image: url(/images/links/hrdinove-fantasy.png?version=e33afb91c3b9fdb9f7d0464108e81bee);
    color: black;
}

.svet-dracaku {
    background-image: url(/images/links/svet-dracaku.png?version=8344211a25a47cb4aa2271b4de6f67ea);
    color: black;
}

.projekt-omega {
    background-image: url(/images/links/projekt-omega.png?version=e7c33059eca6d28635f42e1d01c34c87);
    color: black;
}

.neviditelna-kniha {
    background-image: url(/images/links/neviditelna-kniha-color.png?version=1c28b0f33c65f3a5de719e1947f9297c);
    color: black;
}

.draci-doupe-cz {
    background-image: url(/images/links/draci-doupe-cz-color.png?version=da2fc09b053d157cf08bcfa566ad33db);
    color: black;
}

.gamecon {
    background-image: url(/images/links/gamecon-color.png?version=f99be1279da24cf649e8abc681c0f157);
    color: black;
}

.dorn {
    background-image: url(/images/links/dorn-color.png?version=531d3730a33004ea611f3d11930ff51e);
    color: black;
}

.rise-snu {
    background-image: url(/images/links/rise-snu-color.png?version=02c5d405ba240281183a64f2bba2c04b);
    color: black;
}

.legie {
    background-image: url(/images/links/legie-color.png?version=09f2fbdceb050bdd8ccb18ad5627c6c0);
    color: black;
}

.drd-2 {
    background-image: url(/images/links/drd2-color.png?version=60893eb78e977ec0980e356685557e4c);
    color: black;
}

.draci-hlidka {
    background-image: url(/images/links/draci-hlidka-color.png?version=609f02e8f4b2d40a4b98323e0215bb8f);
    color: black;
}

.jeskyne-a-draci {
    background-image: url(/images/links/jeskyne-a-draci-color.png?version=a857302aade763115c83427efb3918fb);
    color: black;
}

.drakkar {
    background-image: url(/images/links/drakkar-color.png?version=dfe09141f3e8f83c1363eccd8bce29c0);
}

.d20 {
    background-image: url(/images/links/d20-color.png?version=748cad78bdb54c5d6b29c568d90577dc);
    color: black;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.immortal-fighters {
    background-image: url(/images/links/immortal-fighters-color.png?version=f047ffb9769926af7697090c22785e0f);
}

.scifisk {
    background-image: url(/images/links/scifisk.png?version=b9bfe6d4dad772fd762a83ce86aedf1b);
}

.pj-craft {
    background-image: url(/images/links/pj-craft-color.png?version=63231f7831a9a5256e4939f9becfa7b7);
}

.goblinu-2k6 {
    background-image: url(/images/links/2k6-goblinu-color.png?version=45c24460dfce7aa5725a4bb916a983f3);
}

.koncina {
    background-image: url(/images/links/koncina-color.png?version=5b346e8d8001f9427388e014923d3d2d);
}

.pribehy-imperia {
    background-image: url(/images/links/pribehy-imperia-color.png?version=6e223c7971be1e72525f7f0fc3cee05d);
}

.strepy-snu {
    background-image: url(/images/links/strepy-snu-color.png?version=e4c53cebdcee35df24a5030a9cdfdb23);
}

.fantazeen {
    background-image: url(/images/links/fantazeen-color.png?version=08ae4d6df74550f1181104c8f638c5cd);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.theurg-formula-calculator {
    background-image: url(/images/links/theurg-formula-calculator-color-small.png?version=3d28afd6ded160444df0aea525eaf456);
}

.theurg-demon-calculator {
    background-image: url(/images/links/theurg-demon-calculator-color-small.png?version=85f78d9089ea1883308f1f0acf7d41dd);
}

.fight-calculator {
    background-image: url(/images/links/fight-calculator-color.png?version=840f72b9b2782d9b6e078221cb61a73d);
}

.rejstrik-pph {
    background-image: url(/images/links/rejstrik-ppj-color.png?version=fad6d9f00bf58d32a825bc78695579ec);
}

.tabulky-pph {
    background-image: url(/images/links/tabulky-pph-color.png?version=70a06d8357a9ffb23c67436537862a2b);
}

.severni-taria {
    background-image: url(/images/links/severni-taria-color.png?version=83938cae9c0371cf73e7fceb32eb9490);
}

.taria-zahvozdi {
    background-image: url(/images/links/taria-zahvozdi-color.png?version=5d7d65c9bad8126bf0465912e9949421);
}

.taria {
    background-image: url(/images/links/taria-color.png?version=0edfa464c2ca94435f7b2d7b748526d5);
}

.rpgforum {
    background-image: url(/images/links/rpgforum-color.png?version=531a280c015058da352fc2886d962468);
}

.fall-calculator {
    background-image: url(/images/links/falling-color.png?version=14e58bba795523c49dfd2253b27778c9);
}

.destruction-calculator {
    background-image: url(/images/links/destruction-color.png?version=49b4faa06cf4a2dc4e8cc2c177294385);
}

.proroctvi {
    background-image: url(/images/links/proroctvi-color.png?version=b9127790ce5f70ade0bee03271720c03);
}
